# Python
__pycache__/
*.pyc

# outputs
SwiftSketch/output_sketches/
ControlSketch/output_sketches/

# models
SwiftSketch/save/
*.pt
*.pth

# diffvg
diffvg/

# data
controlsketch_var_data
preview

# その他
*.log
*.tmp
tmp
plan/