# Python
__pycache__/
*.pyc

# outputs
SwiftSketch/output_sketches/
ControlSketch/output_sketches/
SDXL_samples
/ControlSketch/output_geo/
/ControlSketch/output_grad_accept/
/scores/bezier_discontinuity_visualizations/

# models
SwiftSketch/save/
*.pt
*.pth

# diffvg
diffvg/

# data
controlsketch_var_data
preview

# その他
*.log
*.tmp
*.orig
tmp
plan/
ControlSketch/sam3
ControlSketch/wandb

# DreamSIM model cache
/models/
